---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        form:
            page:
                - "1"
            per_page:
                - "100"
        headers:
            Authorization:
                - Bearer dummy-token
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/kubernetes/kubernetes/tags?page=1&per_page=100
        method: GET
      response:
        body: '[{"name":"v1.37.0-alpha.0","zipball_url":"https://api.github.com/repos/kubernetes/kubernetes/zipball/refs/tags/v1.37.0-alpha.0","tarball_url":"https://api.github.com/repos/kubernetes/kubernetes/tarball/refs/tags/v1.37.0-alpha.0","commit":{"sha":"6e753bd2b4793152b55ad9cefd3130169fb1a749","url":"https://api.github.com/repos/kubernetes/kubernetes/commits/6e753bd2b4793152b55ad9cefd3130169fb1a749"},"node_id":"MDM6UmVmMjA1ODA0OTg6cmVmcy90YWdzL3YxLjM3LjAtYWxwaGEuMA=="},{"name":"v1.36.0","zipball_url":"https://api.github.com/repos/kubernetes/kubernetes/zipball/refs/tags/v1.36.0","tarball_url":"https://api.github.com/repos/kubernetes/kubernetes/tarball/refs/tags/v1.36.0","commit":{"sha":"ecf6decece6a6de25a57aad9ba90b6ce580f6f78","url":"https://api.github.com/repos/kubernetes/kubernetes/commits/ecf6decece6a6de25a57aad9ba90b6ce580f6f78"},"node_id":"MDM6UmVmMjA1ODA0OTg6cmVmcy90YWdzL3YxLjM2LjA="},{"name":"v[...]
[...]
