---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
        headers:
            Authorization:
                - Bearer dummy-token
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/user/repos?per_page=100
        method: GET
      response:
        body: '[{"id":1094293641,"node_id":"R_kgDOQTmYiQ","name":"git-push-and-pray","full_name":"lazarosalvador2244/git-push-and-pray","private":false,"owner":{"login":"lazarosalvador2244","id":243361258,"node_id":"U_kgDODoFl6g","avatar_url":"https://avatars.githubusercontent.com/u/243361258?v=4","gravatar_id":"","url":"https://api.github.com/users/lazarosalvador2244","html_url":"https://github.com/lazarosalvador2244","followers_url":"https://api.github.com/users/lazarosalvador2244/followers","following_url":"https://api.github.com/users/lazarosalvador2244/following{/other_user}","gists_url":"https://api.github.com/users/lazarosalvador2244/gists{/gist_id}","starred_url":"https://api.github.com/users/lazarosalvador2244/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lazarosalvador2244/subscriptions","organizations_url":"https://api.github.com/users/lazarosalvador2244/orgs","repos_url":"https://api.github.com/users/lazarosalvador2244/repos","events_url":"https://api.github.com/users/lazarosalvador2244/events{/privacy}","received_events_url":"https://api.github.com/users/lazarosalvador2244/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/lazarosalvador2244/git-push-and-pray","description":null,"fork":false,"url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray","forks_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/forks","keys_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/teams","hooks_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/hooks","issue_events_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/issues/events{/number}","events_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/events","assignees_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/assignees{/user}","branches_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/branches{/branch}","tags_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/tags","blobs_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/git/refs{/sha}","trees_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/statuses/{sha}","languages_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/languages","stargazers_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/stargazers","contributors_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/contributors","subscribers_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/subscribers","subscription_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/subscription","commits_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/commits{/sha}","git_commits_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/git/commits{/sha}","comments_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/comments{/number}","issue_comment_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/issues/comments{/number}","contents_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/contents/{+path}","compare_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/merges","archive_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/downloads","issues_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/issues{/number}","pulls_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/pulls{/number}","milestones_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/milestones{/number}","notifications_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/labels{/name}","releases_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/releases{/id}","deployments_url":"https://api.github.com/repos/lazarosalvador2244/git-push-and-pray/deployments","created_at":"2025-11-11T14:17:25Z","updated_at":"2025-11-11T14:17:29Z","pushed_at":"2025-11-11T14:17:26Z","git_url":"git://github.com/lazarosalvador2244/git-push-and-pray.git","ssh_url":"git@github.com:lazarosalvador2244/git-push-and-pray.git","clone_url":"https://github.com/lazarosalvador2244/git-push-and-pray.git","svn_url":"https://github.com/lazarosalvador2244/git-push-and-pray","homepage":"","size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true}},{"id":1094326969,"node_id":"R_kgDOQToauQ","name":"taco-driven-development","full_name":"lazarosalvador2244/taco-driven-development","private":false,"owner":{"login":"lazarosalvador2244","id":243361258,"node_id":"U_kgDODoFl6g","avatar_url":"https://avatars.githubusercontent.com/u/243361258?v=4","gravatar_id":"","url":"https://api.github.com/users/lazarosalvador2244","html_url":"https://github.com/lazarosalvador2244","followers_url":"https://api.github.com/users/lazarosalvador2244/followers[...]
[...]
